#title{
    text-decoration: underline;
    margin-top: 55px;
    font-size: 50px;
}

body{
    font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#enter{
    height: 62px;
    width: 200px;
}
input::placeholder{
    font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#delete{
    margin-top: 10px;
    margin-right: 8px;
    font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: darkred;
}

#add{
    margin-top: 10px;
    margin-left: 8px;
    font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: rgb(2, 255, 53);
}

#info{
    width: 200px;
    height: 500px;
    border: 6px solid black ;
    display: inline-block;
    text-align: center;
}